 body {
  header {
    padding: 0 0.5rem 1rem 0.5rem;
  }

  header nav a.current {
    color: var(--accent) !important;
    border-color: var(--accent) !important;
  }

  header h1 {
    margin: 1rem auto;
    margin-bottom: 0;
    font-size: 2rem;
  }

  main {
    padding-top: 0;

    &>p.notice {
      padding: 1rem;
    }

    h2 {
      font-size: 1.8rem;
    }

    input[type="text"], input[type="email"], input[type="password"]{
      width: 100%;
    }
  }
}
